/* Code tidied up by ScrapBook */
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
hr { box-sizing: content-box; height: 0px; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
@media print {
  *, *::after, *::before { background: transparent none repeat scroll 0% 0% !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  a[href^="#"]::after, a[href^="javascript:"]::after { content: ""; }
  blockquote, pre { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  img, tr { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  h2, h3, p {  }
  h2, h3 { page-break-after: avoid; }
  .navbar { display: none; }
}
*, *::after, *::before { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:focus, a:hover { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 20px; margin-bottom: 20px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
[role="button"] { cursor: pointer; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
ol, ul { margin-top: 0px; margin-bottom: 10px; }
@media (min-width: 768px) {
}
code, kbd, pre, samp { font-family: Menlo,Monaco,Consolas,Courier New,monospace; }
code { color: rgb(199, 37, 78); background-color: rgb(249, 242, 244); border-radius: 4px; }
code, kbd { padding: 2px 4px; font-size: 90%; }
pre { display: block; padding: 9.5px; margin: 0px 0px 10px; font-size: 13px; line-height: 1.42857; word-break: break-all; overflow-wrap: break-word; color: rgb(51, 51, 51); background-color: rgb(245, 245, 245); border: 1px solid rgb(204, 204, 204); border-radius: 4px; }
pre code { padding: 0px; font-size: inherit; color: inherit; white-space: pre-wrap; background-color: transparent; border-radius: 0px; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container::after, .container::before { content: " "; display: table; }
.container::after { clear: both; }
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1081px) {
  .container { width: 960px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1081px) {
}
@media screen and (max-width: 767px) {
}
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 4px; -moz-user-select: none; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: thin dotted; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(140, 140, 140); text-decoration: none; }
.btn.active, .btn:active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(66, 192, 46); border-color: rgb(66, 192, 46); }
.btn-success.focus, .btn-success:focus { color: rgb(255, 255, 255); background-color: rgb(52, 151, 36); border-color: rgb(31, 89, 21); }
.btn-success.active, .btn-success:active, .btn-success:hover, .open > .btn-success.dropdown-toggle { color: rgb(255, 255, 255); background-color: rgb(52, 151, 36); border-color: rgb(49, 143, 34); }
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open > .btn-success.dropdown-toggle.focus, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle:hover { color: rgb(255, 255, 255); background-color: rgb(42, 122, 29); border-color: rgb(31, 89, 21); }
.collapse { display: none; }
@media (min-width: 768px) {
}
.nav { margin-bottom: 0px; padding-left: 0px; list-style: outside none none; }
.nav::after, .nav::before { content: " "; display: table; }
.nav::after { clear: both; }
.nav > li, .nav > li > a { position: relative; display: block; }
.nav > li > a { padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
.navbar::after, .navbar::before { content: " "; display: table; }
.navbar::after { clear: both; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px; }
}
.navbar-header::after, .navbar-header::before { content: " "; display: table; }
.navbar-header::after { clear: both; }
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
.navbar-collapse { overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.navbar-collapse::after, .navbar-collapse::before { content: " "; display: table; }
.navbar-collapse::after { clear: both; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block !important; height: auto !important; padding-bottom: 0px; overflow: visible !important; }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse { padding-left: 0px; padding-right: 0px; }
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 340px; }
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 200px; }
}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0px; margin-left: 0px; }
}
@media (min-width: 768px) {
}
.navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; }
@media (min-width: 768px) {
  .navbar-fixed-bottom, .navbar-fixed-top { border-radius: 0px; }
}
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
@media (min-width: 768px) {
}
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 8px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle:focus { outline: 0px none; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(136, 136, 136); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
0% { background-position: 40px 0px; }
100% { background-position: 0px 0px; }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (-webkit-transform-3d), not all {
}
@media screen and (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1080px) {
}
@media (min-width: 992px) and (max-width: 1080px) {
}
@media (min-width: 992px) and (max-width: 1080px) {
}
@media (min-width: 992px) and (max-width: 1080px) {
}
@media (min-width: 1081px) {
}
@media (min-width: 1081px) {
}
@media (min-width: 1081px) {
}
@media (min-width: 1081px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1080px) {
}
@media (min-width: 1081px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont-15631c85e8dc5addfa0c9728d3ce2088.eot") format("embedded-opentype"), url("iconfont-c3edb33d1d8968f8162506a1d3627992.woff") format("woff"), url("iconfont-a61e7efa02f0bc07c77e02ae47781de7.ttf") format("truetype"), url("iconfont-3ba99e75b9a156132cf7901140f24eb3.svg") format("svg");
}
.iconfont { font-family: iconfont !important; font-size: inherit; font-style: normal; font-weight: 400 !important; }
.ic-search::before { content: ""; }
.ic-wechat::before { content: ""; }
.ic-weibo::before { content: ""; }
.ic-write::before { content: ""; }
.ic-search-notebook::before { content: ""; }
.ic-navigation-night::before { content: ""; }
.ic-follow::before { content: ""; }
.ic-like::before { content: ""; }
.ic-share::before { content: ""; }
.ic-backtop::before { content: ""; }
.ic-navigation-discover::before { content: ""; }
.ic-navigation-download::before { content: ""; }
.ic-picture::before { content: ""; }
.ic-navigation-mode::before { content: ""; }
body, html { height: 100%; }
body { padding-top: 56px !important; min-width: 768px; font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif; font-size: 17px; }
a, body { color: rgb(51, 51, 51); }
a { cursor: pointer; }
a:focus, a:hover { color: rgb(47, 47, 47); text-decoration: none; }
a:focus { outline: medium none; }
ul { padding-left: 0px; }
li { line-height: 20px; }
form { margin: 0px 0px 20px; }
input:focus { box-shadow: none; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus, input:focus { outline: medium none; }
.btn.active, .btn:active { box-shadow: none; }
.btn-success { border-radius: 40px; color: rgb(255, 255, 255); background-color: rgb(66, 192, 46); border-color: rgb(66, 192, 46); }
.btn-success.focus, .btn-success:focus, .btn-success:hover { background-color: rgb(61, 185, 34); border-color: rgb(61, 185, 34); }
.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle { background-color: rgb(108, 223, 82); border-color: rgb(137, 230, 117); }
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open > .btn-success.dropdown-toggle.focus, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle:hover { background-color: rgb(61, 185, 34); border-color: rgb(137, 230, 117); }
.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle { background-image: none; }
.navbar-default { background-color: rgb(255, 255, 255); border-color: rgb(240, 240, 240); }
.navbar-default .navbar-nav > li > a { color: rgb(51, 51, 51); }
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background-color: rgb(245, 245, 245); }
@media (min-width: 992px) {
  .container { width: 960px; }
}
@media (max-width: 1080px) {
  .container { width: 750px; }
}
@media (max-width: 1080px) {
}
.avatar { width: 32px; height: 32px; display: block; cursor: pointer; }
.avatar img { width: 100%; height: 100%; border: 1px solid rgb(221, 221, 221); border-radius: 50%; }
input:-moz-placeholder, input::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder { color: rgb(160, 160, 160); }
.side-tool { position: fixed; bottom: 40px; right: 40px; z-index: 9; }
.side-tool > ul { list-style: outside none none; }
.side-tool > ul > li { border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(220, 220, 220) rgb(220, 220, 220) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); transition: all 0.1s ease-in 0s; }
.side-tool > ul > li:last-child { border-bottom: 1px solid rgb(220, 220, 220); }
.side-tool > ul > li:hover { background-color: rgba(181, 181, 181, 0.1); transition: all 0.1s ease-in 0s; }
.side-tool > ul .function-button, .side-tool > ul .js-submit-button { width: 50px; height: 50px; text-align: center; display: block; }
.side-tool > ul .function-button i, .side-tool > ul .js-submit-button i { padding-top: 16px; font-size: 20px; display: block; }
@keyframes loading {
0% { width: 60%; }
50% { width: 100%; }
100% { width: 60%; }
}
@keyframes loading {
0% { width: 60%; }
50% { width: 100%; }
100% { width: 60%; }
}
@keyframes shortLoading {
0% { width: 20%; }
50% { width: 40%; }
100% { width: 20%; }
}
@keyframes shortLoading {
0% { width: 20%; }
50% { width: 40%; }
100% { width: 20%; }
}
@media (max-width: 1080px) {
}
.follow, .follow-cancel, .follow-each, .following { padding: 8px 22px; font-size: 16px; font-weight: 400; line-height: normal; }
.follow-cancel span, .follow-each span, .following span, .follow span { margin-left: 2px; display: inline; }
.follow { border-color: rgb(66, 192, 46); }
.follow:hover { border-color: rgb(61, 185, 34) !important; }
@keyframes rolling {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
@keyframes rolling {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
nav { height: 56px; }
nav .width-limit { min-width: 768px; max-width: 1440px; margin: 0px auto; }
nav .ic-write { margin-right: 3px; font-size: 19px; vertical-align: middle; }
nav .logo { float: left; height: 56px; padding: 14px 25px 15px 20px; }
nav .logo img { width: 55px; height: 26px; }
nav .nav li a { height: 56px; line-height: 26px; padding: 15px; color: rgb(51, 51, 51); }
nav .navbar-toggle { float: left; padding: 11px 10px; margin-top: 9px; }
nav .navbar-toggle:hover { background-color: rgba(181, 181, 181, 0.1) !important; }
nav .navbar-nav li { margin-right: 10px; }
nav .navbar-nav .search { padding-left: 15px; }
nav .navbar-collapse { margin-left: -15px !important; }
nav .menu-icon { display: inherit; float: left; font-size: 20px; }
nav form { position: relative; top: 9px; }
nav form .search-input { padding: 0px 40px 0px 20px; width: 160px; height: 38px; font-size: 14px; border: 1px solid rgb(238, 238, 238); border-radius: 40px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; transition: width 0.5s ease 0.1s; }
nav form .search-input:focus { transition-delay: 0s; width: 240px; outline: medium none; }
nav form .search-input:focus + .search-btn { background-color: rgb(150, 150, 150); border-radius: 50%; color: rgb(255, 255, 255) !important; }
nav form .search-btn { position: absolute; top: 4px; right: 5px; width: 30px; height: 30px !important; line-height: normal !important; padding: 0px !important; color: rgb(150, 150, 150) !important; text-align: center; }
nav form .ic-search { margin: 5px -1px 0px 0px; display: block; }
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
nav .style-mode .popover-modal { position: absolute; top: 56px; z-index: 1; padding: 20px 20px 20px 24px; margin-left: -80px; min-width: 235px; background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1)); }
nav .style-mode .popover-modal::after, nav .style-mode .popover-modal::before { position: absolute; top: -10px; left: 78%; content: ""; display: inline-block; border-width: medium 9px 9px; border-style: none solid solid; border-color: currentcolor transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
nav .style-mode .popover-modal::after { top: -9px; border-bottom: 9px solid rgb(255, 255, 255); }
nav .style-mode hr { margin: 20px -20px; border-color: rgb(240, 240, 240); }
nav .style-mode .meta { padding-left: 4px; margin-right: 16px; font-size: 14px; color: rgb(150, 150, 150); line-height: 40px; vertical-align: middle; display: inline-block; }
nav .style-mode .meta span { vertical-align: middle; }
nav .style-mode .ic-navigation-night { position: relative; top: 2px; margin-right: 5px; font-size: 17px; }
nav .style-mode .switch { font-size: 0px; letter-spacing: -4px; }
nav .style-mode .switch-btn { width: 49%; text-align: center; font-size: 14px; letter-spacing: 0px !important; color: rgb(150, 150, 150); border: 1px solid rgb(229, 229, 229); vertical-align: middle; display: inline-block; }
nav .style-mode .switch-btn:first-child { padding: 10px 13px 10px 17px; border-radius: 20px 0px 0px 20px; border-right: medium none; }
nav .style-mode .switch-btn:last-child { padding: 10px 17px 10px 13px; border-radius: 0px 20px 20px 0px; border-left: medium none; }
nav .style-mode .font-song { font-family: Georgia,Times New Roman,Times,Songti SC,serif; }
nav .style-mode .font-hei { font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif; }
nav .style-mode .switch-btn.active { color: rgb(255, 255, 255); background-color: rgb(109, 172, 244); border-color: rgb(109, 172, 244); box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1) inset; }
nav .style-mode .day-night-group { width: auto; vertical-align: middle; display: inline-block; }
nav .style-mode .font-family-group { margin-bottom: 10px; }
nav .style-mode-btn { float: right; line-height: 20px; padding: 17px 10px 17px 15px; font-size: 24px; color: rgb(150, 150, 150); }
nav .write-btn { float: right; width: 100px; height: 40px; line-height: 24px; margin: 8px 15px 0px; border-radius: 20px; font-size: 15px; color: rgb(255, 255, 255); background-color: rgb(234, 111, 90); }
nav .write-btn:focus, nav .write-btn:hover { color: rgb(255, 255, 255); background-color: rgb(236, 97, 73); }
nav .sign-up { float: right; width: 80px; height: 38px; line-height: 24px; margin: 9px 5px 0px 15px; border: 1px solid rgba(236, 97, 73, 0.7); border-radius: 20px; font-size: 15px; color: rgb(234, 111, 90); background-color: transparent; }
nav .sign-up, nav .sign-up:hover { transition: all 0.1s ease-in 0s; }
nav .sign-up:hover { color: rgb(236, 97, 73); border-color: rgb(236, 97, 73); background-color: rgba(236, 97, 73, 0.05); }
nav .log-in { float: right; margin: 11px 6px 0px 10px; font-size: 15px; }
nav .log-in, nav .log-in:hover { color: rgb(150, 150, 150); }
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
}
@media (min-width: 320px) and (max-width: 767px) {
  nav .menu-icon { display: none; }
  nav .navbar-collapse { width: 100vw; border: medium none; }
  nav form .search-input, nav form .search-input:focus { width: 100%; }
  nav ul.nav.navbar-nav { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  nav .navbar-nav { margin: 0px -15px; }
  nav .navbar-nav li { border-bottom: 1px solid rgb(240, 240, 240); }
  nav .navbar-nav li a { text-align: center; }
}
@media (min-width: 768px) and (max-width: 1080px) {
  nav .menu-text { display: none; }
  nav .navbar-nav li { margin-right: 5px; }
  nav form .search-input, nav form .search-input:focus { width: 150px; }
}
@media (min-width: 1081px) and (max-width: 1439px) {
  nav .menu-icon { display: none; }
}
@media (min-width: 1439px) {
  nav .menu-icon { margin-right: 5px; }
  nav form .search-input { width: 240px; }
  nav form .search-input:focus { width: 320px; }
}
body.reader-black-font, body.reader-black-font .history-mode .view-area, body.reader-black-font .history-mode .view-area pre, body.reader-black-font .main .kalamu-area, body.reader-black-font .main .markdown .text, body.reader-black-font input, body.reader-black-font select, body.reader-black-font textarea { font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif; }
body.reader-black-font .container .article .title, body.reader-black-font .main .title, body.reader-black-font .preview .title { font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif; }
@media (min-width: 320px) and (max-width: 767px) {
}
@media (max-width: 750px) {
  body { overflow-x: hidden; }
}
@media (max-width: 1080px) {
}
@media (max-width: 1080px) {
}
@keyframes rolling {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
@keyframes rolling {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
